.autofill-text {
    -fx-skin: "np.com.ngopal.control.AutoFillTextBoxSkin";
}

/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.background{
	/* -fx-background-color: #DFB951;*/
 	 -fx-background-image: url("2016-04-06.jpg");
    -fx-background-repeat: none;   
    -fx-background-size: 400 603;
    -fx-background-position: right center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
  
}

.label{
	-fx-font-family: "Arial";
	-fx-font-size: 14px;
	-fx-background-color: transparent;
  -fx-text: black;
  -fx-font-weight: BOLD;
}



#TextArea{
	 -fx-color: rgba(255,255,255,0.7);
	 -fx-font-family: "Arial";
	
	 -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text: #338433;
}

.text-area {
    -fx-background-color: rgba(255,255,255,0.7);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.button{
   -fx-background-color: rgba(232,232,232,0.7);
       
     
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: black;
   
    -fx-font-family: "Arial";
   
    -fx-font-size: 12px;
    -fx-border-color:black;
    -fx-border-width:1.2px;
}

#menu{
	-fx-font-family: "Arial";
	-fx-font-size: 11px;
	
	-fx-background-color: rgba(232,232,232,0.7);
 	-fx-opacity:50;
	-fx-text-fill: linear-gradient(black, black);
	-fx-font-weight: BOLD;
}



